.search-control {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
}

.search-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-control input[type="text"] {
  border: none;
  padding: 10px 40px 10px 15px; /* Add padding to the right for the icon */
  /* font-size: 16px; */
  outline: none;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: none;
  background: transparent;
  padding: 0 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover svg {
  stroke: #343a40;
}

.search-button svg {
  transition: stroke 0.2s;
}

@media (min-width: 640px) {
  .search-control {
    left: 10px;
    transform: translateX(0);
    width: 300px;
  }
}
